.board {
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
    gap: 0.2em;
    width: 10em;
}

.board_box_1 {
    cursor: pointer;
    border: 1px solid black;
    height: 2em;
    width: 3em;
    text-align: center;
    padding-top: 0.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: wheat;

}

@media screen and (max-width:992px) {
    .board {
        font-size: 3em;
    }
}

@media screen and (max-width:480px) {
    .board {
        font-size: 2.5em;
    }
}